@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(231, 226, 226);
    font-family: 'Merriweather Sans', sans-serif;
}

.card {
    margin: 3rem auto 1rem;
    width: 50%;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.card-title {
    background-color: #336699;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: x-large;
}

.card-body {
    width: 60%;
    margin: auto;
    padding: 2rem 0rem;
    font-size: x-large;
}

.card input {
    width: 100%;
    padding: 0.8rem 1rem;
    margin: 1rem 0;
    border: 1px solid black;
    border-radius: 0.7rem;
    outline: black;
}

label {
    display: block;
}

button {
    padding: 0.6rem 1rem;
    background-color: transparent;
    color: blue;
    border: 2px solid #336699;
    border-radius: 1rem;
    font-size: large;
    width: 40;
    margin: auto;
    margin: 0.8rem;
    outline: #336699;
}

button:hover {
    background-color: #265c92;
    border-color: #265c92;
    color: white;
}

.center {
    text-align: center;
}

.ans {
    margin-top: 0.8rem;
}

.result {
    margin-top: 1rem;
}

.showItem {
    display: block;
}

footer {
    text-align: center;
    margin: 4rem auto;
}

footer p {
    font-size: large;
    text-align: center;
}

.footer-list {
    margin: 1rem;
}

a,
img,
li {
    display: inline;
    margin: 0 0.3rem;
}

img {
    width: 40px;
    padding: 0.2rem;
}

@media (max-width: 900px) {
    .card {
        width: 90%;
    }
    label {
        font-size: smaller;
    }
}